.add-button {
    background-color: aqua;
    border-radius: 20%;
}

.msg {
    text-decoration: dashed;
    font-style: italic;
    color: green;
}

.ad {
    background-color: rgb(0, 255, 64);
    font-size: 20px;
}

.container .delete-btn {
    background-color: red;
}

.nama {
    background-color: aqua;
}
